body {
  font-family: 'Noto Sans', sans-serif;
  background: url("https://www.destructoid.com//ul/415593-AR2.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}



/*Homepage Title and animation*/


@-webkit-keyframes colors {
  50% {
    background-color: #eafcf9;
  }
}

@keyframes colors {
  50% {
    background-color: #eafcf9;
  }
}

.hometitle  {
  background-color:#f2e4de;
  border-top: 15px solid #44635e;
  border-left: 15px solid #44635e;
  color:#67797c;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  font-size: 2em;
  margin-top:50px;
  padding: 20px;
  width: 90%;
  height: 35px;
  position: center;
  -webkit-animation: colors 60s infinite;
  animation: colors 60s infinite;
}



/*Webstites and titles*/


.title {
  background-color:#f2e4de;
  border-left: 9px solid #44635e;
  color:#67797c;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  font-size: 1em;
  width: 80%;
  padding: 20px 40px 20px 40px;
  font-weight: 600;
  font-style: italic;
  font-variant: small-caps;
  text-transform: uppercase;
  text-decoration: underline line-through overline;
  text-shadow: 5px 0 1px #a9d4d6;
}

.TableTitle {
  background-color:#f2e4de;
  border-left: 9px solid #44635e;
  color:#67797c;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  font-size: 2em;
  width: 25%;
  padding: 20px 40px 20px 40px;
}

.websites {
  background-color:#f2e4de;
  border-left: 8px solid #44635e;
  color:#67797c;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  font-size: 1em;
  width: 25%;
  height: 40px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 20px;
  margin: 10px;
}

#websites {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}



/*My Pictures*/


.images {
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
 
}

#images{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}



/*Buttons and links*/


.dev  {
  background-color:#f2e4de;
  color:#67797c;
  margin: 50px;
  font-size: 1.5em;
  border-left: 9px solid #44635e;
  height: 70px;
  width: 200px;
  cursor: pointer;
}

#dev  {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

a:link {
  color:#67797c;
}

a:visited {
  color:#67797c;
}

a:hover {
  color: #416091;
}

a:active {
  color: #416091;
}



/*Table and pokemon*/


table   {
  width: 100%;
  border-collapse: collapse;
}

#poketable  {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.pokepic  {
  width: 70px;
  Height: 70px;
}

th  {
  background-color:#e8fbff;
  color:#67797c;
}

tr:nth-child(odd)  {
  background-color: #e8fbff;
  color:#67797c;
}

tr:nth-child(even)  {
  background-color: #f2e4de;
  color:#67797c;
}

td, th  {
  padding: 15px;
  text-align: center;
  border: 2px solid #44635e;
}

/*Assignments.html*/


.lol  {
  color:#67797c;
  font-size: 1em;
  background-color:#f2e4de;
  border-left: 9px solid #44635e;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-top:50px;
  padding: 20px;
  transition: background-color 500ms ease-out 1s;
  -webkit-transition: background-color 500ms ease-out 1s;
  -moz-transition: background-color 500ms ease-out 1s;
  -o-transition: background-color 500ms ease-out 1s;
}

.lol:hover  {
  background-color:pink;
  color: #67797c;
  cursor: pointer;
}


/*Reminders.html*/


.reminder {
  font-size: 1em;
  list-style: square;
}
