body {
  font-family: 'Noto Sans', sans-serif;
  background: url("https://www.destructoid.com//ul/415593-AR2.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

.hometitle  {
  background-color:#f2e4de;
  border-top: 5px solid #44635e;
  border-left: 5px solid #44635e;
  color:white;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  font-size: 2em;
  margin-top:50px;
  padding: 20px;
  width: 90%;
  height: 35px;
  position: center;
  -webkit-animation: colors 60s infinite;
  animation: colors 60s infinite;
}

@-webkit-keyframes colors {
  50% {
    background-color: #eafcf9;
  }
}

@keyframes colors {
  50% {
    background-color: #eafcf9;
  }
}

.websites-title {
  background-color:#f2e4de;
  border-left: 3px solid #def1f2;
  color:white;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  font-size: 1em;
  width: 80%;
  padding: 20px 40px 20px 40px;
  font-weight: 600;
  font-style: italic;
  font-variant: small-caps;
  text-transform: uppercase;
  text-decoration: underline line-through overline;
  text-shadow: 5px 0 1px #a9d4d6;
}

.websites {
  background-color:#f2e4de;
  border-left: 3px solid #def1f2;
  color:white;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  font-size: 1em;
  width: 25%;
  height: 40px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 20px;
  margin: 10px;
}

#websites {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.stickers {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: left;
}

.reminder {
  font-size: 1em;
  list-style: square;
}

.lol  {
  color:white;
  font-size: 1em;
  background-color:rosybrown;
  border-left: 5px solid grey;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-top:50px;
  padding: 20px;
  transition: background-color 500ms ease-out 1s;
  -webkit-transition: background-color 500ms ease-out 1s;
  -moz-transition: background-color 500ms ease-out 1s;
  -o-transition: background-color 500ms ease-out 1s;
}

.lol:hover  {
  background-color:pink;
  color: white;
  cursor: pointer;
}

.dev  {
  background-color:rosybrown;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 20px;
  margin: 50px;
  font-size: 1.2em;
  border-left: 5px solid grey;
  width: 200px;
}

#dev  {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

a:link {
  color: white;
}

a:visited {
  color: white;
}

a:hover {
  color: pink;
}

a:active {
  color: pink;
}